---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Not Found">
  <h1>404</h1>
  <p>Page not found. <a href="/">Go back home</a>.</p>
</BaseLayout>

<style>
  h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem;
  }
  p {
    text-align: center;
  }
  a {
    color: var(--color-primary);
  }
</style>
