* {
  font-family: Inter UI, Arial;
}
h1 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: Inter UI, serif;
  font-weight: 500;
}

a {
  font-family: Inter UI;
}

p {
  color: #262626;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}
